// Show the current breakpoints in the lower left corner.
$debug-breakpoint: false;

// ------------ Settings for Bulma ---------------

// 1. Import the initial variables
@import "../node_modules/bulma/sass/utilities/initial-variables";
@import "../node_modules/bulma/sass/utilities/functions";

// 2. Set your own initial variables

// Colors
//$color-accent       : rgb(0, 20, 160);
//$color-body         : lighten(rgb(251, 251, 246),2);
//$color-text-body    : rgb(60, 60, 60);
//$color-text-light   : rgb(184, 186, 188);
//$color-ui-light     : lighten($color-text-light, 14%);
//$color-link         : red;
//$color-heading      : #000000;

$light: rgb(240, 239, 239);

//$body-background-color: rgb(240, 239, 239);
$body-background-color: $light;
// Fonts
$font-sans-serif    : 'Roboto', sans-serif;     // Base font
$font-serif         : 'Bitter', serif;          // Headings

// 3. Set the derived variables

//$primary: $color-accent;
//$primary-invert: $color-body;
//$black: $color-heading;
//$text: $black;
//$link: $color-link;
//$family-primary: $font-sans-serif;

//$body-weight: $weight-light;

$radius: 0;

// Title
$title-color: $black;
$title-weight: $weight-normal;

// Box
$box-radius: 0;
$box-shadow: 0;




// 4. Setup your Custom Colors
$linkedin: #0077b5;
$linkedin-invert: findColorInvert($linkedin);
$twitter: #55acee;
$twitter-invert: findColorInvert($twitter);
$github: #333;
$github-invert: findColorInvert($github);

// 5. Add new color variables to the color map.
@import "../node_modules/bulma/sass/utilities/derived-variables.sass";

