{% if user %}
<div class="notification is-info">
    <button class="delete">Close</button>
    <h2>Welcome to the Bolt Base-2018 theme.</h2>
    <p>This is a minimal theme, with a modular structure. It is well suited to build your own themes on top of.</p>
    <ul>
        <li>Check the <a href='https://github.com/bolt/themes/blob/master/base-2018/README.md'>readme.md</a> for instructions on how to customize this theme.</li>
        <li>Read the <a href='https://bulma.io/documentation/overview/start/'>Bulma</a> documentation.</li>
        <li><a href='{{ path('fileedit', {'namespace': 'theme', 'file': 'index.twig'}) }}'>Edit this template</a>, to get rid of this 'callout'.</li>
    </ul>
    <small>Note: Only registered users will see this. This piece of content is hidden from regular visitors.</small>
</div>
{% endif %}
