{% if record.contenttype.slug|default() not in ['showcases', 'entries'] %}
{% setcontent homepage = "homepage" limit 1 returnsingle %}
<section class="hero hero-image is-primary is-bold is-medium {% if app.request.get('_route') == "homepage" %}is-large{% endif %}"
    {%- if homepage|image %}
         data-background-image="{{ homepage|image.path }}" style="background-image: url({{ homepage|image.path }})"
    {% endif -%}
    >
    <div class="hero-body">
        <div class="container has-text-centered">
            <h1 class="title">{{ config.get('general/sitename') }}</h1>
            {% if config.get('general/payoff') %}
            <h2 class="subtitle">{{ config.get('general/payoff') }}</h2>
            {% endif %}
        </div>
    </div>
</section>
{% endif %}
