<div class="notification is-primary">
    <button class="delete">Close</button>
    <h2>{{ __("general.phrase.no-content-found") }}</h2>
    <p>
        {{ __("page.dashboard.empty-database") }}
    </p>
</div>
