<!-- Footer -->
<footer class="sitefooter">
    <div class="container">

    <hr>

    <p>
        {{ __("This website is <a href='%url%' target='_blank' title='Sophisticated, lightweight & simple CMS'>Built with Bolt</a>.",{'%url%':'http://bolt.cm'}) }}
    </p>

    {{ widgets('footer') }}
</div>
</footer>

<script src="{{ asset('js/jquery.js', 'theme') }}"></script>
<script src="{{ asset('js/app.js', 'theme') }}"></script>