{% extends 'partials/_master.html.twig' %}

{% block bodyclass "listing" %}

{% block main %}

    {% for record in records %}

    <article>
        {% include 'partials/_picture.html.twig' with {'image': record|image, 'size': 400 } %}
        <div>
            <h2>{{ record|title }}</h2>
            <p>
                {{ record|excerpt(300) }}
            </p>
            <a class="link-effect" href="{{ record|link() }}" rel="noopener noreferrer">Go to article</a>
        </div>
    </article>
    {% endfor %}

{% endblock main %}
