<footer>
    <nav>
        {{ menu(template = 'partials/_sub_menu.twig') }}
    </nav>
    <a class="back link-effect" href="#top">To the top <span class="arrow" aria-hidden="true">↑</span></a>
</footer>