<footer>
    <nav>
        <ul>
            <li><a class="link-effect" href="">Menu</a></li>
            <li><a class="link-effect" href="">Menu</a></li>
            <li><a class="link-effect" href="">Menu</a></li>
            <li><a class="link-effect" href="">Menu</a></li>
        </ul>
    </nav>
    <a class="back link-effect" href="#top">To the top <span class="arrow" aria-hidden="true">↑</span></a>
</footer>