<nav>
    <div class="logo">
    <a href="/">
        <img src="{{ asset('img/logo.svg', 'theme') }}" alt="Logo" />
    </a>
    </div>
    <ul>
        <li><a class="link-effect" href="">Menu</a></li>
        <li><a class="link-effect" href="">Menu</a></li>
        <li><a class="link-effect" href="">Menu</a></li>
        <li><a class="link-effect" href="">Menu</a></li>
    </ul>
    <div class="theme-switch-wrapper">
        <label class="theme-switch" for="checkbox">
            <input type="checkbox" id="checkbox" />
        </label>
    </div>
</nav>
