
    <nav>
        <div class="logo">
            {{- config.get('general/sitename') -}}
        </div>
        <ul>
            <li><a class="link-effect" href="">Menu</a></li>
            <li><a class="link-effect" href="">Menu</a></li>
            <li><a class="link-effect" href="">Menu</a></li>
            <li><a class="link-effect" href="">Menu</a></li>
        </ul>
        <div class="theme-switch-wrapper">
            <label class="theme-switch" for="checkbox">
                <input type="checkbox" id="checkbox" />
            </label>
        </div>
    </nav>
