    <article>
        {% include 'partials/_latest_few_of_everything.html.twig' %}
    </article>

    <section>
        <div class="block">
            <p>Omnes enim iucundum motum, quo sensus hilaretur</p>
            <a class="link-effect" href="">Read more</a>
        </div>
    </section>