{% apply spaceless %}
<div class="social">
    <a href="">
        <svg height="26" width="26" xmlns="http://www.w3.org/2000/svg">
            <path d="M18.962 0H7.038A7.046 7.046 0 000 7.038v11.924A7.046 7.046 0 007.038 26h11.924A7.046 7.046 0 0026 18.962V7.038A7.046 7.046 0 0018.962 0zm5.514 18.962a5.52 5.52 0 01-5.514 5.514H7.038a5.52 5.52 0 01-5.514-5.514V7.038a5.52 5.52 0 015.514-5.514h11.924a5.52 5.52 0 015.514 5.514z"/>
            <path d="M13 5.89c-3.92 0-7.11 3.19-7.11 7.11 0 3.92 3.19 7.11 7.11 7.11 3.92 0 7.11-3.19 7.11-7.11 0-3.92-3.19-7.11-7.11-7.11zm0 12.695A5.591 5.591 0 017.415 13 5.591 5.591 0 0113 7.415 5.591 5.591 0 0118.585 13 5.591 5.591 0 0113 18.585zM20.28 3.366c-1.16 0-2.102.942-2.102 2.1 0 1.16.943 2.102 2.101 2.102s2.101-.943 2.101-2.101c0-1.159-.942-2.101-2.1-2.101zm0 2.677a.577.577 0 110-1.154.577.577 0 010 1.154z"/>
        </svg>
    </a>
    <a href="">
        <svg height="26" width="15" xmlns="http://www.w3.org/2000/svg">
            <path d="M9.14 26H4.978a1.263 1.263 0 01-1.261-1.261v-9.392h-2.43a1.263 1.263 0 01-1.26-1.26v-4.025c0-.695.565-1.261 1.26-1.261h2.43V6.786c0-1.998.627-3.698 1.814-4.916C6.722.646 8.388 0 10.348 0l3.175.005a1.263 1.263 0 011.26 1.261v3.737c0 .695-.566 1.26-1.261 1.26l-2.138.002c-.652 0-.818.13-.854.17-.058.067-.128.255-.128.774V8.8h2.959c.223 0 .439.055.624.158.4.224.649.646.649 1.103l-.002 4.024c0 .696-.565 1.261-1.26 1.261h-2.97v9.392c0 .695-.566 1.261-1.261 1.261zm-3.9-1.524h3.638v-9.81c0-.465.377-.843.842-.843h3.388l.001-3.498H9.72a.843.843 0 01-.841-.842V7.209c0-.596.06-1.273.51-1.782.543-.615 1.399-.686 1.995-.686l1.875-.001V1.529l-2.911-.005c-3.15 0-5.107 2.016-5.107 5.262v2.697a.843.843 0 01-.842.842H1.55v3.498h2.848c.464 0 .842.378.842.842z"/>
        </svg>
    </a>
    <a href="">
        <svg height="22" width="26" xmlns="http://www.w3.org/2000/svg">
            <path d="M9.874 21.475c-4.331 0-7.754-.757-9.392-2.076l-.032-.026-.029-.029c-.389-.389-.516-.9-.35-1.4l.016-.042c.203-.507.7-.848 1.238-.851 1.108-.02 2.077-.152 2.957-.408-1.403-.653-2.378-1.782-2.958-3.418a1.212 1.212 0 01.423-1.412c.11-.084.236-.147.369-.189A8.184 8.184 0 01.438 8.617l-.01-.034L.42 8.55C.31 8 .556 7.438 1.005 7.195c.188-.108.393-.164.598-.169a6.328 6.328 0 01-.478-1.458c-.265-1.365-.046-2.732.65-4.066l.16-.321A.9.9 0 013.373.947l.293.294c2.316 2.428 4.391 3.58 7.978 4.369a6.356 6.356 0 011.716-3.664A6.02 6.02 0 0117.658.05h.01c1.188 0 2.662.679 3.553 1.157.765-.25 1.686-.638 2.642-1.047.447-.21.999-.114 1.35.238.345.344.44.83.258 1.303-.07.193-.149.383-.236.569.13.06.25.141.351.242.306.306.434.785.325 1.22l-.012.041c-.366 1.18-1.07 2.142-2 2.745-.155 8.276-6.387 14.956-14.025 14.956zM1.94 18.55c1.544.874 4.485 1.402 7.933 1.402 3.315 0 6.443-1.423 8.809-4.008 2.384-2.605 3.697-6.066 3.697-9.743v-.041c0-.333.184-.637.479-.793.598-.317 1.083-.857 1.398-1.548a.894.894 0 01-.858-.35.893.893 0 01-.007-1.063 4.94 4.94 0 00.34-.537c-.826.347-1.61.658-2.29.864a.973.973 0 01-.749-.08c-1.211-.675-2.34-1.079-3.02-1.08-2.51.038-4.55 2.188-4.55 4.794a.895.895 0 01-1.072.88c-4.136-.814-6.587-2.036-9.136-4.597-.365.875-.465 1.757-.296 2.627.171.882.627 1.765 1.317 2.555.263.3.298.729.087 1.067a.89.89 0 01-.992.392 4.11 4.11 0 01-.837-.321c.533 1.156 1.448 2.225 2.6 3.014a.898.898 0 01-.575 1.635 4.035 4.035 0 01-1.19-.258c.645 1.315 1.676 2.038 3.265 2.314a.898.898 0 01.267 1.678c-1.355.718-2.835 1.103-4.62 1.197z"/>
        </svg>
    </a>
</div>
{% endapply %}