h1, h2, h3, h4, h5, h6 {
  font-family: "Bitter", serif;
  line-height: 1.125;
  font-weight: normal;
  margin-bottom: .75rem; }

.small-title {
  font-size: 1.75rem; }

pre {
  margin-bottom: .75rem; }

blockquote {
  font-style: italic;
  padding: 1.5rem;
  font-size: 1.5rem; }

figcaption {
  text-align: center;
  margin-top: .75rem;
  font-style: italic; }

.expanded {
  width: 100%; }

p.meta {
  font-size: .9rem; }

.record.listing-record {
  margin-bottom: 1.5rem; }

.record p, .record li {
  margin-bottom: .75rem; }

.record ul li {
  list-style: disc; }

.control .input,
.control .button {
  margin-top: 0;
  height: 52px; }

.header-fp {
  height: 70vh;
  position: relative;
  background-color: #2C1C1C; }
  .header-fp .header-fp-wrapper {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%);
    width: 90vw; }
  .header-fp .header-fp-content {
    text-align: center;
    color: white; }
    .header-fp .header-fp-content a {
      color: white; }
    .header-fp .header-fp-content h1 {
      font-size: 2.5rem; }
    .header-fp .header-fp-content h2 {
      font-size: 1.75rem; }

.image {
  margin-top: 1rem;
  margin-bottom: 1rem; }

.notification {
  border-radius: 0; }

.notification > .delete {
  right: .5rem;
  top: .5rem; }

.main-article {
  padding: 1.5rem; }

.section-about-us,
.section-collection {
  text-align: center; }

.section-about-us {
  background-color: white; }

.button {
  margin-top: 1rem; }
  .button.transparent {
    background-color: transparent; }
  .button#navbar-toggle {
    margin-top: 0; }

.header {
  margin-top: 52px; }

.record-teaser {
  padding: 0 1.5rem 1.5rem 1.5rem; }

.record-body {
  padding: 1.5rem; }

.record-footer {
  padding: 0 1.5rem 1.5rem 1.5rem; }

.meta.paging {
  text-align: center;
  padding: 1.5rem 0;
  margin: 1.5rem 0;
  border: 1px solid #0a0a0a; }

.image.small-left-image {
  float: left;
  width: 20%;
  margin: 0 1.5rem 0 0; }

.sitefooter {
  padding: 0 1.5rem 3rem 1.5rem; }
