<input
        class="bg-white rounded border border-gray-400 focus:outline-none focus:border-indigo-500 text-base px-4 py-2 mb-4"
        placeholder="Name" type="text">
<input
        class="bg-white rounded border border-gray-400 focus:outline-none focus:border-indigo-500 text-base px-4 py-2 mb-4"
        placeholder="Email" type="email">
<textarea
        class="bg-white rounded border border-gray-400 focus:outline-none h-32 focus:border-indigo-500 text-base px-4 py-2 mb-4 resize-none"
        placeholder="Message"></textarea>
<button onclick="alert('This form doesn\'t work. Please install bolt/forms, or implement your own solution');"
        class="text-white gradient border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded text-lg">
    Send
</button>